.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
*.tar.gz
*\.Rcheck
build_docs.sh
CRAN-RELEASE
cran-comments.md
*.Rproj
README.html
.vscode/
lightning.code-workspace
docs
inst/doc
revdep
derby.log
logs
